{
    "plugins": [
        [
            "babel-plugin-styled-components"
        ],
        [
            "prismjs", 
            {
                "languages": ["javascript", "css", "markup", "shell", "json"]
            }
        ]
    ]
}